.primary-header {
    height: 120px;
}

/* Logo */
.primary-header .logo img {
    height: auto !important;
    width: auto !important;
    max-height: 105px !important;
    max-width: 120px !important;

    @include media-breakpoint-up(xl) {
        max-width: 180px !important;
    }
}

:not(.nav-drawer) > .primary-nav {
    &.menu-top {
        & > li {
            &:hover {
                color: var(--link-hover-color);
            }
        }
    }
}

.primary-nav-container .sub-menu {
    li {
        a {
            padding: 7px 40px 7px 20px;

            .sub-menu-icon {
                display: none;
            }

            &:hover {
                &:before {
                    background: var(--link-hover-color);
                }
            }

            &:hover .bi-arrow-right {
                fill: var(--link-hover-color);
            }
        }
    }
}