.primary-header {
    height: 120px;
}

/* Logo */
.primary-header .logo img {
    height: auto !important;
    width: auto !important;
    max-height: 105px !important;
    max-width: 120px !important;

    @include media-breakpoint-up(xl) {
        max-width: 180px !important;
    }
}