:root {
    --borderRadius: 20px;

    --bs-primary: #E62A30;
    --bs-primary-shade: #CF181E;
    --bs-primary-tint: #E9474D;

    --bs-secondary: #26438C;
    --bs-secondary-shade: #213A78;
    --bs-secondary-tint: #3155B1;
}