:root {
    // Bootstrap variables

    --bs-body-color: #0B1429;

    --bs-primary: #E62A30;
    --bs-primary-shade: #CF181E;
    --bs-primary-tint: #E9474D;

    --bs-secondary: #26438C;
    --bs-secondary-shade: #213A78;
    --bs-secondary-tint: #3155B1;

    --bs-tertiary-1: #F4CB3E;
    --bs-tertiary-1-shade: #F1BE15;
    --bs-tertiary-1-tint: #F5D15A;

    --bs-tertiary-2: #1A9CFC;
    --bs-tertiary-2-shade: #048CED;
    --bs-tertiary-2-tint: #3DADFC;

    // Custom variables

    --borderRadius: 20px;

    --eyebrow-color: var(--bs-tertiary-2);

    --notification-bar-bg: var(--bs-secondary);

    --rte-fifty-fifty-bg-color: #F2F3F4;

    --hero-carousel-bg-light: #F2F3F4;
    --hero-carousel-bg-dark: #0B1429;

    --newsletter-bg-color: var(--bs-secondary);
}